body {
  margin-top: 100px;
  margin: 0;
  font-family: Montserrat;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-input {
  width: 334px;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.ant-input::placeholder {
  padding-top: 15px;
  color: #1b1d1c;
  padding-left: 34px;
}
