.wrapper {
  margin-top: 25px;
  width: 335px;
  height: 231px;
  position: relative;
  margin-bottom: 38px;
}
.wrapperDesktop {
  width: 317px;
  margin-top: 25px;
  height: 317px;
  position: relative;
  margin-bottom: 38px;
}
.planSectionBlock {
  min-height: 100%;
  min-width: 100%;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 19px;
}

.tariffName {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #1b1d1c;
  margin-top: 24px;
  margin-bottom: 0;
}
.servicesBlock {
  width: 320px;
}

.price {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #483c3c;
  margin-top: 12px;
  margin-bottom: 0;
}
.schedule {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #483c3c;
  margin-top: 7px;
  margin-bottom: 0;
}
.servicesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 62px;
  list-style: none;
}
.servicesItem {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #483c3c;

  text-align: end;
}
.recommendation {
  background-color: #ffa56b;
  width: 100%;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: -19px;
}
.buttonSelect {
  background-color: #ffffff;
  border: 1.5px solid #ff3f55;
  box-sizing: border-box;
  border-radius: 100px;
  text-decoration: none;
  color: #ff3f55;
  position: absolute;
  bottom: -20px;
  left: 112px;
  width: 114px;
  height: 40px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper:hover .planSectionBlock {
  background: linear-gradient(90.34deg, #ff3658 -34.18%, #f68d36 86.61%);
}

.wrapper:hover .buttonSelect {
  background-color: #ff3f55;
  color: #ffffff;
}
.displayEllipse {
  display: none;
}

.galaxyOrbit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  height: 263px;
}

.wrapper:hover .galaxyOrbit {
  background-image: url(../../../images/4ellipse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
